extends layout

block content
  form(role="search", action="http://mychain.io/search")
    .form-group
      input.form-control.spaced(type="text", placeholder="Search for an address, transaction, or block", name="q" value=address.address)
  h3.text-center.fairly-spaced
    | Address: 
    a(href='http://mychain.io/address/'+address.address) #{address.address}
  table.table.table-striped.spaced
    thead
      tr
        th(colspan=2) Calculated Receipt Summary
    tbody
      tr
        td(title='The largest amount of BTC received in a single transaction') Received:
        td
          | #{address.confirmedReceived}
          if address.unconfirmedReceived > 0
            |  (#{address.unconfirmedReceived} unconfirmed)
          |  BTC
      tr
        td(title='The amount received in extra transactions (try to avoid reusing addresses)') Possibly received:
        td
          | #{address.confirmedPossiblyReceived}
          if address.unconfirmedPossiblyReceived > 0
            |  (#{address.unconfirmedPossiblyReceived} unconfirmed)
          |  BTC
  table.table.table-striped.spaced
    thead
      tr
        th(colspan=3) Transaction Receipt
    tbody
      if address.transactions.length == 0
        tr
          td No corresponding transactions were found.
          td
          td
      each tx, txid in address.transactions
        tr
          td: a(href='http://mychain.io/tx/'+txid) #{txid.toLowerCase()}
          td(title='BTC received in this specific transaction') Value paid to address:
          td #{tx.amount} BTC
        tr
          td
          td(title='The number confirmations for this transaction') Blocks confirmed:
          td #{tx.confirmations}