extends layout

block content
  form(role="search", action="http://mychain.io/search")
    .form-group
      input.form-control.spaced(type="text", placeholder="Search for an address, transaction, or block", name="q" value=block.hash)
  h3.text-center.fairly-spaced
    | Block: 
    a(href='http://mychain.io/block/'+block.hash) #{block.hash}
  table.table.table-striped.spaced
    thead
      tr
        th(colspan=2) Block Header
    tbody
      tr
        td(title='Block version number') Version:
        td #{block.version}
      tr
        td(title='256-bit hash of the previous block header') Previous block hash:
        td: a(href='http://mychain.io/block/'+block.previousblockhash) #{block.previousblockhash}
      tr
        td(title='256-bit hash based on the transactions in this block') Merkle root hash:
        td #{block.merkleroot}
      tr
        td(title='Unix timestamp when the block was generated') Time:
        td #{block.time}
      tr
        td(title='A compact form of the mining difficulty') Bits:
        td #{block.bits}
      tr
        td(title='A 32-bit number tried when mining') Nonce:
        td #{block.nonce}
  table.table.table-striped.spaced
    tr
      th(colspan=2) More Information
    tr
      td(title='A measure of how challenging this block was to find') Difficulty:
      td #{block.difficulty}
    tr
      td(title='The number of blocks below this one in the chain') Height:
      td #{block.height}
    if block.nextblockhash
      tr
        td(title='A valid block claiming this one as the previous block') Next block:
        td: a(href='http://mychain.io/block/'+block.nextblockhash) #{block.nextblockhash}
    tr
      td(title='The number of transactions contained in this block') Number of transactions:
      td #{block.tx.length}
  table.table.table-striped.spaced
    tr
      th Transactions
    each tx in block.tx
      tr
        td: a(href='http://mychain.io/tx/'+tx) #{tx}