extends layout

block content
  .container.very-spaced
    h1.text-center
      | My
      span.holo Chain
    form(role="search", action="http://mychain.io/search")
      .form-group
        input.form-control.spaced(type="text", placeholder="Search for an address, transaction, or block", name="q" value=tx.txid+'/input/'+input.n)
    h3.text-center.fairly-spaced
      | Input: 
      a(href='http://mychain.io/tx/'+tx.txid+'/input/'+input.n) #{tx.txid}/input/#{input.n}
    table.table.table-striped.spaced
      thead
        tr
          th(colspan=2) Raw Data
      tbody
        tr
          td Redeemed txid:
          td #{input.txid}
        tr
          td Redeemed output index:
          td #{input.vout}
        tr
          td ScriptSig
          td #{input.scriptSig.asm}
        tr
          td ScriptSig hex
          td #{input.scriptSig.hex}
        tr
          td Sequence
          td #{input.sequence}