extends layout

block content
  form(role="search", action="http://mychain.io/search")
    .form-group
      input.form-control.spaced(type="text", placeholder="Search for an address, transaction, or block", name="q" value=tx.txid+'/input/'+input.n)
  h3.text-center.fairly-spaced
    | Input: 
    a(href='http://mychain.io/tx/'+tx.txid+'/input/'+input.n) #{tx.txid}/input/#{input.n}
  table.table.table-striped.spaced
    thead
      tr
        th(colspan=2) Raw Data
    tbody
      if !tx.isCoinbase
        tr
          td(title='The transaction id being claimed by this input') Redeemed txid:
          td
            a(href='http://mychain.io/tx/'+input.txid) #{input.txid}
        tr
          td(title='The index of the output being redeemed') Redeemed output index:
          td #{input.vout}
        tr
          td(title='The signature script') ScriptSig:
          td #{input.scriptSig.asm}
        tr
          td(title='A hexadecimal representation of the ScriptSig') ScriptSig hex:
          td #{input.scriptSig.hex}
      else
        tr
          td(title='The contents of a generation transaction input') Coinbase:
          td #{input.coinbase}
      tr
        td(title='Irrelevant unless using lock_time') Sequence:
        td #{input.sequence}