extends layout

block content
  form(role="search", action="http://mychain.io/search")
    .form-group
      input.form-control.spaced(type="text", placeholder="Search for an address, transaction, or block", name="q" value=tx.txid+'/output/'+output.n)
  h3.text-center.fairly-spaced
    | Output: 
    a(href='http://mychain.io/tx/'+tx.txid+'/output/'+output.n) #{tx.txid}/output/#{output.n}
  table.table.table-striped.spaced
    thead
      tr
        th(colspan=2) Raw Data
    tbody
      tr
        td(title='The id of the output within its transaction') Output id:
        td #{output.n}
      tr
        td(title='The number of bitcoins sent') Value:
        td #{output.value} BTC
      tr
        td(title='The script to be satisfied when redeeming this output') ScriptPubKey:
        td #{output.scriptPubKey.asm}
      tr
        td(title='A hexadecimal representation of the ScriptPubKey') ScriptPubKey hex:
        td #{output.scriptPubKey.hex}
  table.table.table-striped.spaced
    thead
      tr
        th(colspan=2) Other Information
    tbody
      tr
        td(title='The id of the transaction containing this output') Created in transaction:
        td: a(href='http://mychain.io/tx/'+tx.txid) #{tx.txid}
      tr
        td(title='The type of script used for redeeming this output') ScriptPubKey type:
        td #{output.scriptPubKey.type}